<div class="box-container" fxLayout="column">

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
    <div>
      <a class="anchorLinks" routerLink="/page/{{ pageNumber }}">All photos</a>
    </div>
  </div>

  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">

    <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [index]='index'
        [config]="config" [disabled]="disabled">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div class="row" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            <img class="gallery-photo" src="{{slide.urls.regular}}">
          </div>
                    <span class="user-name">{{slide.user.first_name}}</span>
          <span style="float:right" class="anchorLinks"><a (click)="downloadPhoto(slide)">Download photo</a></span>
        </div>
      </swiper>
    </div>

  </div>


</div>