<div class="box-container" fxLayout="column">

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
    <div>
      <a routerLink="/page/{{ pageNumber }}">All photos</a>
      <a (click)="downloadPhoto()">Download photo</a>
    </div>
  </div>

  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">

    <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [index]='index'
        [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)"
        (swiperTransitionStart)="onSwiperEvent('transitionStart')"
        (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div class="user-name">{{slide.user.first_name}}</div>
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            <img class="gallery-photo" src="{{slide.urls.regular}}">
          </div>
        </div>
      </swiper>
    </div>


  </div>


</div>