.box-container {
  box-sizing: border-box;
  width: 980px;
  max-width: 80%;
  max-height: 100%;
  padding: 24px;
  margin: 80px auto 24px auto;
  border-radius: 4px;
  color: #555;
  background-color: #eee;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
}

.content-container {
  position: relative;
  height: 580px;
  min-height: 100%;
  margin: 6px 12px;
  border-radius: 4px;
  background-color: #fff;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery-photo {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 530px;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.user-name {
  font-size: 24px;
  padding: 5px;
  float: left;
  margin: 8px 0 0 10px;
}

.anchorLinks {
  color: rgba(15, 0, 0, 0.8);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  letter-spacing: 0.5px;
  border: 1px solid;
  margin: 8px 8px 2px 0;
  position: relative;
  text-decoration: none;
}

.swiper-slide-active {
  color: rgb(14, 1, 51);
  background-color: #fff;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 80%;
    max-height: 100%;
    padding: 24px;
    margin: 80px auto 24px auto;
  }
  
  .content-container {
    height: 100%;
    min-height: 100%;
    margin: 6px 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}