<div class="container">
    <div class="gallery">

      <div class="grid-item" *ngFor="let photo of photos">
        <figure class="effect-bubba">
          <img src="{{photo.urls.thumb}}">
          <figcaption>
            <h2 class="tm-figure-title">Image <span>One</span></h2>
            <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="img/tm-img-01.jpg">View more</a>
          </figcaption>
        </figure>
      </div>

    </div>

</div>