.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 75px auto 2px auto ; 
}

.gallery {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

.grid-item img {
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border: 10px solid #ffffff;
  max-width: 100%;
  height: 300px;
  display: block;
  object-fit: contain;
  margin: auto;
	transition: transform 400ms ease-out;
}

.grid-item img:hover {
	transform: scale(1.05);
}

.pagination{
  clear: both;
  float: left;
  width: 100%;
  margin: 30px 0px 10px;
  padding: 0px;
}

.pagination {
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 60px; 
}
.pagination a {
  color: rgba(15, 0, 0, 0.8);
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  padding: 6px 15px 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 1px solid;
  margin: 10px;
  float: right;
  position: relative;
}

/* Bigger than Phones(tablet) */
// @media only screen and (min-width: 750px) {
//   .gallery {
//    grid-template-columns: repeat(2, 1fr);
//   }
// }

/* Bigger than Phones(laptop / desktop) */
// @media only screen and (min-width: 970px) {
//   .gallery {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }