.main-header-wrapper{
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  margin-left: -10px;
}

.container-header {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  clear: both;
}

.normal_logo{
  object-fit: contain;
  margin: auto;
}

footer{
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

